:deep(.first-screen){
    height: auto;
    background: none;
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../../../public/about-background.jpg") no-repeat repeat center center;
    background-size: 100%;
}
.dish_info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.dish_info h1{
    text-align: center;
    color: #ab8e6c;
}
.dish_info img{
    margin-top: 5%;
    max-width: 50%;
    max-height: 50%;
}
.rent-button{
    height: 70px;
    width: 300px;
    border: 2px #ab8e6c solid;
    border-radius: 10px;

}
.rent-button {
    transition: all 0.3s;
    position: relative;
}
.rent-button span {
    transition: all 0.3s;
    color: aliceblue;
    text-decoration:none;
}
.rent-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,215,0,0.5);
    border-bottom-color: rgba(255,215,0,0.5);
    transform: scale(0.1, 1);
}
.rent-button:hover span {
    letter-spacing: 2px;
}
.rent-button:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.rent-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.rent-button:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}
.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2%;
    padding: 0;
}
