:deep(.first-screen){
    height: auto;
    background: none;
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../../../public/about-background.jpg") no-repeat repeat center center;
    background-size: 100%;
}
.dish_info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.dish_info h1{
    text-align: center;
    color: #ab8e6c;
}
.dish_info img{
    margin-top: 2%;
    max-width: 50%;
    max-height: 50%;
}
.print-button{
    margin-left: 42.5%;
    margin-right: 42.5%;
    width: 15%;
    border-radius: 10px;
    background: none;
    color: #ab8e6c;
    border-color: #ab8e6c;
}