body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: aliceblue;
    height: 100%;
}
.first-screen{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../../public/background_image.jpg") no-repeat center center;
    background-size: cover;
}
.no_footer{
    flex: 1 0 auto;
}
footer{
    flex: 0 0 auto;
    padding-top: 10px;
    background-color: black;
}
.border-top{
    padding-top: 10px;
    margin: 10px;
}
.content{
    margin: 0 auto;
    flex-grow: 1;
}
.nav-link{
    color: aliceblue !important;
    background: none !important;
}
.nav-link:hover{
    color: #ffd700 !important;
}
.active{
    border-bottom: medium solid #ffd700 !important;
    padding-bottom: 3px;
}
.router-link-active{
    color: #ffd700 !important;
    border-bottom: #ffd700 solid medium !important;
}